.body-c {
    height: calc(100% - 110px);
    top: 100px;
    width: 100%;
    display: block;
    background-color: rgb(48, 48, 48);
    position: absolute;
}

.body-c p {
    font-size: initial;
}

.body-con {
    background-color: rgb(48, 48, 48);
    padding: 60px 100px 80px 100px;
    list-style: none;
    display: flex;

}

.app-controls {
    position: fixed;
    border-top: 1px solid rgba(245, 245, 245, 0.226);
    display: block;
    width: 100%;
    height: 50px;
    background-color: rgb(48, 48, 48);
    bottom: 16px;
}

.app-controls ul {
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
    height: inherit;
    padding-inline: 10px;

}

.app-controls button {
    height: 40px;
    background-color: transparent;
    border: 1px solid whitesmoke;
    margin-inline: 10px;
    width: 120px;
    font-size: initial;
}

input {
    background-color: transparent;
    border: 1px solid rgba(245, 245, 245, 0.226);
}

textarea {
    background-color: transparent;
    border: 1px solid rgba(245, 245, 245, 0.226);
}

.menu {
    width: 100%;

    font-size: 0px;
    list-style: none;
    justify-content: center;

}

.menu li {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu li a {
    text-decoration: none;
    display: block;
}

.menu li a button {
    background-color: transparent;
    width: 500px;
    height: 40px;
    display: block;

    margin: 10px 0px;
    font-size: initial;
    border: 1px solid whitesmoke;

}

.menu li a button:active {
    background-color: #ffffff47;

}
.desktopshow{
    display: unset;
}
.mobileshow{
    display: none;
}
@media all and (max-width: 900px){
    .body-c {
        height: 90vh;
        top: 50px;
        width: 100%;
        display: block;
        background-color: rgb(48, 48, 48);
        position: absolute;
        overflow: hidden;
    }
    .body-con {
        background-color: rgb(48, 48, 48);
        padding: 40px 20px 80px 20px;
        list-style: none;
        display: flex;
    
    }
    .mobileshow{
        display: unset;
    }
    .desktopshow{
        display: none!important;
    }
    .app-controls {
        position: fixed;
        border-top: 1px solid rgba(245, 245, 245, 0.226);
        display: block;
        width: 100%;
        height: 50px;
        background-color: rgb(48, 48, 48);
        bottom: 0px;
      
    }
    
    .app-controls ul {
        display: flex;
        align-items: center;
        justify-content: end;
        list-style: none;
        height: 100%;
    
    }
    
    .app-controls button {
        height: 40px;
        background-color: transparent;
        border: 1px solid whitesmoke;
        margin-inline: 10px;
        width: 120px;
        font-size: initial;
    }
}